{% load static %}

<!DOCTYPE html>
<html lang="en" class="light">
    <!-- BEGIN: Head -->
    <head>
        <meta charset="utf-8">
        <link href="{% static 'images/logo.svg' %}" rel="shortcut icon">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>TeamTracker</title>
        <!-- BEGIN: CSS Assets-->
        <link rel="stylesheet" href="{% static 'TailwindCSS/css/app.css' %}" />
        <!-- END: CSS Assets-->
        <script src="{% static "gantt/gantt.js" %}" type="text/javascript">
        </script>
        <link rel="stylesheet" href="{% static "gantt/_gantt.css" %}" />
        <link rel="stylesheet" href="{% static "gantt/gantt.css" %}" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <!-- END: Head -->
    <div class = "main">
        {% if request.user.is_authenticated %}
            {% include 'snippets/header.html' %}
            <div class="flex overflow-hidden">
            {% include 'snippets/side_menu.html' %}
        {% endif %}
            <!-- Body -->
            {% block content %}

            {% endblock content %}
            <!-- End Body -->
            </div>

        {% include 'snippets/footer.html' %}
    
        <!-- BEGIN: JS Assets-->
        <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key={{ your_google_map_api_key }}&libraries=places"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{% static 'TailwindCSS/js/app.js' %}"></script>
        <!-- END: JS Assets-->
    </div>

</html>
