{% extends 'base.html' %}
{% load static %}

{% block content %}
<div="content" style="margin-top: 80px;">
    <div class="grid grid-cols-12 gap-6 mt-8">
        <div class="intro-y col-span-12 lg:col-span-6">
            <div class="intro-y box" style="border-radius: 0.75rem;">
                <div id="input" class="p-1" style="border-radius: 0.75rem;">
                    <div>
                        <label class="form-label" for="regular-from-1">Name Project</label>
                        <input id="regular-from-1" class="from-control" type="text" placeholder="Add name project" style="border-radius: 0.75rem;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid grid-cols-12 gap-6 mt-8">
        <div class="intro-y col-span-12 lg:col-span-6">
            <div class="intro-y box">
                <div id="input" class="p-1">
                    <div>
                        <label class="form-label" for="regular-from-1">Name Project</label>
                        <input id="regular-from-1" class="from-control" type="text" placeholder="Add name project">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid grid-cols-12 gap-6 mt-8">
        <div class="intro-y col-span-12 lg:col-span-6">
            <div class="intro-y box">
                <div id="input" class="p-1">
                    <div>
                        <label class="form-label" for="regular-from-1">Name Project</label>
                        <input id="regular-from-1" class="from-control" type="text" placeholder="Add name project">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
